
  <section data-id="{{plant._id}}">
    <h4>
    {{#if plant.nickName}}
      {{plant.nickName}}
    {{else}}
      {{plant.name}}
    {{/if}}
    </h4>

    {{# if plant.nickName}}
    <p>
      Plant Name: {{plant.name}}
    </p>
    {{else}}
    <p></p>
    {{/if}}

    <p>
      Date Acquired: {{plant.dateAcquired}}
    </p>

    <p>
      {{#if plant.additionalNotes}}
        Additional Notes: {{plant.additionalNotes}}
      {{else}}
        Additional Notes: N/A
      {{/if}}
    </p>
    <br>
    <br>

  <h5>Logs</h5>

    {{#each plant.logs as |log|}}

      <section data-id="{{log._id}}">
        <h6>
          Date: {{log.date}}
        </h6>
        <p>
          Entry: {{log.entry}}
        </p>
        <div class="log-buttons">
          <button data-id="{{log._id}}" class="btn-log-edit btn-warning edit-log-button">Edit</button>
          <button data-id="{{log._id}}" class="btn-log-delete btn-danger delete-log-button">Delete</button>
        </div>
      </section>
    {{/each}}

  </section>
