
  <section data-id="{{plant._id}}">
    <h4 data-id="{{plant._id}}">
    {{#if plant.nickName}}
      {{plant.nickName}}
    {{else}}
      {{plant.name}}
    {{/if}}
    </h4>
    <p data-id="{{plant._id}}">
      Plant Name: {{plant.name}}
    </p>
    <p data-id="{{plant._id}}">
      Date Acquired: {{plant.dateAcquired}}
    </p>
    <p data-id="{{plant._id}}">
      {{#if plant.additionalNotes}}
        Additional Notes: {{plant.additionalNotes}}
      {{else}}
        Additional Notes: N/A
      {{/if}}
    </p>

    {{#each plant.logs as |log|}}

      <section data-id="{{log._id}}">
        <h6 data-id="{{log._id}}" class="plant pointer plant-listing">
      </h6>

        <button data-id="{{plant._id}}" class="btn-plant-delete btn-danger delete-plant-button">Delete</button>
      </section>
    {{/each}}

  </section>
