  {{#each plantCollections as |plantCollection|}}

    <section data-id="{{plantCollection._id}}">
      <h2 data-id="{{plantCollection._id}}" class="pc pointer">
        {{#if plantCollection.name}}
          {{plantCollection.name}}
        {{else}}
          My Plant Collection
        {{/if}}
      </h2>

      <button data-id="{{plantCollection._id}}" class="btn-pc-delete btn-danger delete-pc-button">Delete</button>
    </section>
    {{/each}}
