  {{#each plantCollections as |plantCollection|}}
    {{log plantCollection}}
    <section data-id="{{plantCollection._id}}">
      <h3 data-id="{{plantCollection._id}}" class="pc pointer">
        {{#if plantCollection.name}}
          {{plantCollection.name}}
        {{else}}
          My Plant Collection
        {{/if}}
      </h3>

      <!-- {{#each plantCollection.plants as |plant|}}
        <h4 class="plants">{{plant.name}}</h4>
      {{/each}} -->

      <button data-id="{{plantCollection._id}}" class="btn-pc-delete btn-danger delete-pc-button">Delete</button>
    </section>
    {{/each}}
