
  <section data-id="{{plantCollection._id}}">
    <h2 class="pc pc-name-header">
      {{#if plantCollection.name}}
        {{plantCollection.name}}
      {{else}}
        My Plant Collection
      {{/if}}
    </h2>

    {{#each plantCollection.plants as |plant|}}
      <div data-id="{{plant._id}}" class="plant-listing">
        <p data-id="{{plant._id}}" class="plant pointer">
        {{#if plant.nickName}}
          {{plant.nickName}}
        {{else}}
          {{plant.name}}
        {{/if}}
        </p>

      <button data-id="{{plant._id}}" class="btn-plant-delete btn-danger delete-plant-button">Delete</button>
      </div>
    {{/each}}


  </section>
